.chat {
    height: 100%;
    padding: 4%;
}
.input-form {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 150px;
    width: 70%;
    margin: auto 0;
}

.messages {
    display: flex; 
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;   
}